<div class="ui segment conversation-page">

<div class="w3-container">
  <div class="w3-row container">
    <div class="w3-col">
      <h2 class="w3-center">MESSAGING</h2>
      <div class="employee-list" id="style-1">
        <div class="container">
        <div class="container w3-padding">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Employees" title="Type in a name" style="width: 100%;">
           <ul id="myUL">
          <% @users.each do |user| %>
            <% if user.id != current_user.id %>

                <li><%= link_to (user.email), conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %></li>
            <% end %>
          <% end %>  
          </ul>
        </div>           
        </div>    
      </div>   
    </div>
  </div>
</div>

</div>
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>