<div class="ui segment">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %><br>
          <% recipient = User.find(conversation.recipient_id) %> 
        <% else %>
          <% recipient = User.find(conversation.sender_id) %> 
        <% end %>
          <%= link_to recipient.email, conversation_messages_path(conversation)%> 
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class="w3-row">
  <div class="w3-col" style="width: 70%;">
    <h2 style="margin-top: 5%;">Available Staff</h2>
    <div class="w3-border employee-list">
      <div class="container">
      <div class="container w3-padding">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Employees" title="Type in a name" style="width: 100%;">
         <ul id="myUL">
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
           
              <li><%= link_to (user.email), conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %></li>
          <% end %>
        <% end %>  
        </ul>

      </div>           
      </div>    
    </div>   
  </div>
</div>


</div>
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>