<html>
<body>
  <div id="landing-page">
    <div class="w3-container w3-mobile">
      <div class="w3-display-container w3-mobile" style="height:600px; margin-top: 3%;">
      <div class="w3-display-bottomleft w3-padding w3-col s9 w3-mobile">
        <div>
          <h1>Schedule with Flexibility and Purpose</h1><br>
          <ul>
            <li><p>Request shift swaps</p></li>
            <li><p>Stay on top of your hours worked</p></li>
            <li><p>Message your coworkers</p></li>
            <li><p>View your schedule with ease</p></li>
          </ul><br>
        </div>
        <div>
          <h1>Managers, we got you covered too.</h1><br>
          <h4>Manage your employees’ schedules with structure</h4>
          <ul>
            <li><p>View schedules in one organized place</p></li>
            <li><p>Drag and drop schedules onto your calendar</p></li>
            <li><p>Approve or decline shift swaps</p></li>
            <li><p>Message your employees</p></li>
          </ul>       
          <a href="#" class="w3-block landing-btn w3-padding-large" style="width:50%; margin-top: 3%;"><h3>Learn More</h3></a>
        </div>
        </div>
        <div class=" w3-display-bottomright w3-col s3" style="margin-right: 25%;"><%= image_tag("phone-image.png", :class => "promo-img-height")%> </div>
      </div>
    </div>
  </div>
</body>
</html>