<div id="landing-page">
  <div class="w3-container">
    <div class="w3-display-container" style="height:600px;">
    <div class="w3-display-bottomleft w3-padding w3-col s9">
      <div>
        <h2>Exchange Employee Shifts With Shwap’s Latest <br>Scheduling Tools</h2><br>
        <ul>
          <li><p>Create schedules 75% faster</p></li>
          <li><p>Swap and pick up shifts</p></li>
          <li><p>Request and approve time off</p></li>
          <li><p>Stay connected with your employees</p></li>
        </ul><br>
      </div>
      <div>
        <h2>Help Managers Take Control of Employee<br> Schedules</h2><br>
        <a href="#" class="w3-block landing-btn w3-padding-large" style="width:50%"><h3>Learn More</h3></a>
      </div>
      </div>
      <div class=" w3-display-bottomright w3-col s3" style="margin-right: 25%;"><%= image_tag("phone-image.png", :class => "promo-img-height")%> </div>
    </div>
  </div>
</div>