<div class="container" style="padding-top: 5%;">
  <div style="padding: 0 25% 0 25%;">
    <h2 class="w3-center small-border-bottom">ADD AVAILABILITY</h2><br>
  </div>
<%= render 'form', availability: @availability %>

<%= link_to 'Back', availabilities_path, :class => "w3-btn w3-round decline-btn", :style => "margin-top: 1%;" %>
