    <div class="row">
        <div class="w3-col s9">
        <a href="/availabilities" class="w3-bar-item w3-button nav-padding-left" style="font-size: 36px;">Shwap</a>
        <a href="#" class="w3-bar-item w3-button nav-padding-left">Contact</a>
        <a href="#" class="w3-bar-item w3-button nav-padding-left">About</a>
        <a href="#" class="w3-bar-item w3-button nav-padding-left">Our Partners</a>
        </div>
        <div class="w3-col s3">
          <a data-toggle="modal" data-target="#signUpModal" class="w3-bar-item w3-button w3-left nav-padding-right ">Login</a> 
          <a data-toggle="modal" data-target="#signUpModal" class="w3-bar-item w3-button w3-left nav-padding-right get-started">Sign Up</a> 
        </div>